<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<%= render 'layouts/head' %>
</head>
<body>
	<!--start of Google Seach bar --> 
	<div class="container">
		<br/>
		<div class="googleSearch row justify-content-center">
			<div class="col-12 col-md-10 col-lg-8">
				<div class="card-body row no-gutters align-items-center">
					<div class="col-auto">
						<i class="fas fa-search h4 text-body"></i>
					</div>
					<!--end of col-->
					<div class="searchBar col">
						<input id="pac-input" class="form-control form-control-lg form-control-borderless" 
						name="locationSearch" type="text" placeholder="Search avalable vehicle by postal code e.g 3000">
					</div>
                                        <!--
					<button class="btn btn-lg btn-success" type="text" name="">Search</button>
                                        -->
				</div>
			</div>
			<!--end of col-->
		</div>
	</div>
	</div>
	<!-- Output googleMaps div-->
	<div id="googleMaps">
	</div>
	<!-- Output guide -->
	<div class="guide">
	</div>

	<!-- start banner Area -->
	<section class="banner-area relative" id="home">

		<div class="overlay overlay-bg"></div>	
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-center">
				<div class="banner-content col-lg-7 col-md-6 ">
					<h6 class="text-white ">the Royal Essence of Journey</h6>
					<h1 class="text-white text-uppercase">
						Share Fleets Car Sharing			
					</h1>
					<p class="pt-20 pb-20 text-white">
					</p>
					<a href="#" class="primary-btn text-uppercase">Rent Car Now</a>
				</div>
				<div class="col-lg-5  col-md-6 header-right">
					<h4 class="text-white pb-30">Book Your Car Today!</h4>
					<form class="form" role="form" autocomplete="off">
						<div class="form-group">
							<div class="default-select" id="default-select"">
								<select>
									<option value="" disabled selected hidden>Select Your Car</option>
									<option value="1">BMW</option>
									<option value="1">Farrari</option>
									<option value="1">Toyota</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-6 wrap-left">
								<div class="default-select" id="default-select"">
									<select>
										<option value="" disabled selected hidden>Pickup</option>
										<option value="1">Pickup One</option>
										<option value="1">Pickup Two</option>
										<option value="1">Pickup Three</option>
										<option value="1">Pickup Four</option>
									</select>
								</div>
							</div>
							<div class="col-md-6 wrap-right">
								<div class="input-group dates-wrap">                                          
									<input id="datepicker" class="dates form-control" id="exampleAmount" placeholder="Date & time" type="text">                        
									<div class="input-group-prepend">
										<span  class="input-group-text"><span class="lnr lnr-calendar-full"></span></span>
									</div>											
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-6 wrap-left">
								<div class="default-select" id="default-select"">
									<select>
										<option value="" disabled selected hidden>Drop off</option>
										<option value="1">Drop off One</option>
										<option value="1">Drop off Two</option>
										<option value="1">Drop off Three</option>
										<option value="1">Drop off Four</option>
									</select>
								</div>
							</div>
							<div class="col-md-6 wrap-right">
								<div class="input-group dates-wrap">                                              
									<input id="datepicker2" class="dates form-control" id="exampleAmount" placeholder="Date & time" type="text">                        
									<div class="input-group-prepend">
										<span  class="input-group-text"><span class="lnr lnr-calendar-full"></span></span>
									</div>											
								</div>
							</div>
						</div>							    
						<div class="from-group">
							<input class="form-control txt-field" type="text" name="name" placeholder="Your name">
							<input class="form-control txt-field" type="email" name="email" placeholder="Email address">
							<input class="form-control txt-field" type="tel" name="phone" placeholder="Phone number">
						</div>
						<div class="form-group row">
							<div class="col-md-12">
								<button type="reset" class="btn btn-default btn-lg btn-block text-center text-uppercase">Confirm Car Booking</button>
							</div>
						</div>
					</form>
				</div>											
			</div>
		</div>					
	</section>
	<!-- End banner Area -->	

	<!-- Start model Area -->
	<section class="model-area section-gap" id="cars">
		<div class="container">
			<div class="row d-flex justify-content-center pb-40">
				<div class="col-md-8 pb-40 header-text">
					<h1 class="text-center pb-10">Choose your Desired Car Model</h1>
					<p class="text-center">
						Who are in extremely love with eco friendly system.
					</p>
				</div>
			</div>				
			<div class="active-model-carusel">
				<div class="row align-items-center single-model item">
					<div class="col-lg-6 model-left">
						<div class="title justify-content-between d-flex">
							<h4 class="mt-20">Audi 3000 msi</h4>
							<h2>$149<span>/day</span></h2>
						</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
						<p>
							Capacity         : 04 Person <br>
							Doors            : 04 <br>
							Air Condition    : Dual Zone <br>
							Transmission     : Automatic
						</p>
						<a class="text-uppercase primary-btn" href="#">Book This Car Now</a>
					</div>
					<div class="col-lg-6 model-right">
						<!-- <img class="img-fluid" src="img/car.jpg" alt=""> -->
						<img class="img-fluid" <%= link_to image_tag("car.jpg", alt: "logo"), root_path %>


					</div>
				</div>
				<div class="row align-items-center single-model item">
					<div class="col-lg-6 model-left">
						<div class="title justify-content-between d-flex">
							<h4 class="mt-20">Audi 3000 msi</h4>
							<h2>$149<span>/day</span></h2>
						</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
						<p>
							Capacity         : 04 Person <br>
							Doors            : 04 <br>
							Air Condition    : Dual Zone <br>
							Transmission     : Automatic
						</p>
						<a class="text-uppercase primary-btn" href="#">Book This Car Now</a>
					</div>
					<div class="col-lg-6 model-right">
						<img class="img-fluid" <%= link_to image_tag("car.jpg", alt: "logo"), root_path %>
					</div>
				</div>
				<div class="row align-items-center single-model item">
					<div class="col-lg-6 model-left">
						<div class="title justify-content-between d-flex">
							<h4 class="mt-20">Audi 3000 msi</h4>
							<h2>$149<span>/day</span></h2>
						</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
						<p>
							Capacity         : 04 Person <br>
							Doors            : 04 <br>
							Air Condition    : Dual Zone <br>
							Transmission     : Automatic
						</p>
						<a class="text-uppercase primary-btn" href="#">Book This Car Now</a>
					</div>
					<div class="col-lg-6 model-right">
						<img class="img-fluid" <%= link_to image_tag("car.jpg", alt: "logo"), root_path %>
					</div>
				</div>												
			</div>
		</div>	
	</section>
	<!-- End model Area -->


	<!-- Start feature Area -->
	<section class="feature-area section-gap" id="service">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-8 pb-40 header-text">
					<h1>What Services we offer to our clients</h1>

					<p>
						Who are in extremely love with eco friendly system.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<h4><span class="lnr lnr-user"></span>Expert Technicians</h4>
						<p>
							Usage of the Internet is becoming more common due to rapid advancement of technology and power.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<h4><span class="lnr lnr-license"></span>Professional Service</h4>
						<p>
							Usage of the Internet is becoming more common due to rapid advancement of technology and power.
						</p>								
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<h4><span class="lnr lnr-phone"></span>Great Support</h4>
						<p>
							Usage of the Internet is becoming more common due to rapid advancement of technology and power.
						</p>								
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<h4><span class="lnr lnr-rocket"></span>Technical Skills</h4>
						<p>
							Usage of the Internet is becoming more common due to rapid advancement of technology and power.
						</p>				
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<h4><span class="lnr lnr-diamond"></span>Highly Recomended</h4>
						<p>
							Usage of the Internet is becoming more common due to rapid advancement of technology and power.
						</p>								
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<h4><span class="lnr lnr-bubble"></span>Positive Reviews</h4>
						<p>
							Usage of the Internet is becoming more common due to rapid advancement of technology and power.
						</p>									
					</div>
				</div>						
			</div>
		</div>	
	</section>
	<!-- End feature Area -->		
	

	<!-- Start callaction Area -->
	<section class="callaction-area relative section-gap">
		<div class="overlay overlay-bg"></div>
		<!--  -->
		
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<h1 class="text-white">Experience Great Support</h1>
					<p>
						We spend more moeny on SEO than anyone else
					</p>
					<a class="callaction-btn text-uppercase" href="#">Reach Our Support Team</a>	
				</div>
			</div>
		</div>	
	</section>
	<%= render 'layouts/footer' %>
</body>
</html>


<script 
async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8gnvfxDpVNtV4o39R1hULlcBUHhyGpK0&libraries=places&callback=initMap">
</script>
