<p id="notice"><%= notice %></p>
<div class="container-fluid col-md-8">
  <div class="alert alert-primary" role="alert" style="margin-top:30px;">
    <h2> <%= @title %></h2>
  </div>
  <div class="list-group">
    <%= form_for :message, :url =>{:controller =>"messages", :action => "create"}  do |f| %>
      <%= f.text_area :content, placeholder: "Enter Message Here", class: "form-control" %>
      <%= f.hidden_field :enduser_id, :value => @enduser.id%>
      <%= f.submit "Send Message", class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
  <div class="list-group">
    <% if !@messages.empty? %>
      <% @messages.each do |msg| %>
        <li class="list-group-item">
          <div class="form-row">
            <div class="list-group-row col-md-2">
              <h7 class="mb-1 text-danger font-weight-bold"><%= msg.author %></h7>
            </div>
            <div class="list-group-row col-md-2">
              <h7 class="mb-1 "> sent at <%= msg.created_at.in_time_zone("Melbourne").strftime("%I:%M%p %d/%m/%Y") %></h7>
            </div>
            <div class="list-group-row col-md-8">
              <%= msg.content %>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </div>
</div>

<%#
  bugs/issues ->
    Turbolinks issue when loading user datatable (needs refresh sometimes)
    Form error message does not display
    When editing, admin can possibly change receipient by clicking on wrong user (error prone)
    Message test cases not complete
    Not explicit admin is able to click on user in datatable for messaging
    No default display when user has no messages in inbox

%>
