<div class = "container-fluid col-md-8">

  <div class="alert alert-primary" role="alert" style="margin-top:30px;">
    <h1>Show Message</h1>
  </div>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Content:</strong>
    <%= @message.content %>
  </p>

  <p>
    <strong>Administrator:</strong>
    <%= @message.administrator %>
  </p>

  <p>
    <strong>Enduser:</strong>
    <%= @message.enduser %>
  </p>

  <%= link_to 'Edit', edit_user_message_path(params[:user_id], @message) %> |
  <%= link_to 'Back', user_messages_path %>
</div>
