<div class="container-fluid col-md-4">
  <div class="alert alert-primary" role="alert" style="margin-top:30px;">
		<h2>Login</h2>
	</div>
  <%= form_for :session, :url =>{:controller =>"session", :action => "create"}  do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control' %>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
    <p><small>Forgot password? Click <%= link_to "here",signup_path %></small></p>
    <%= f.submit "Log in", class: "btn btn-primary" %>
  <% end %>
</div>
