<div class="container-fluid col-md-8">
    <div class="alert alert-primary" role="alert" style="margin-top:30px;">
		  <h2>Booking a review</h2>
	  </div>
    <%= form_for(@booking) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-row justify-content-center">
          <h4 class= "text-center text-danger text-capitalize font-weight-bold"><%= label_tag "Vehicle Location" %></h4>
        </div> 
        <div class="form-row justify-content-center">
          <span class= "center-block">
            <%= image_tag "https://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@vehicle.location.latitude}%2C#{@vehicle.location.longitude}&key=AIzaSyC8gnvfxDpVNtV4o39R1hULlcBUHhyGpK0", class: "mx-auto d-block" %>
          </span>
        </div>
        <div class="form-row justify-content-center">
          <p class="text-danger text-center"><%= label_tag @vehicle.location.address %></p>
        </div>
        </br>
        <div class="form-row justify-content-center">
          <h4 class= "text-center text-danger text-capitalize font-weight-bold"><%= label_tag "Selected Vehicle" %></h4>
        </div>
        <div class="form-row justify-content-center">
          <% if @vehicle.image.attached? %>
            <div class="form-group col-md-4">
               <%= image_tag @vehicle.image, class: "mx-auto d-block", style: 'height:100%;width:100%;' %>
            </div>
          <% else %>
            <%# IF THERE IS NO IMAGE ATTACHED TO VEHICLE %>
          <% end %>
          
          <div class="form-group col-md-8">
            <div class="form-row justify-content-left">
              <h7 class="mb-1"><u>Registration</u></h7>
            </div>
            <div class="form-row justify-content-left">
              <h7 class="mb-1"><%= @vehicle.registration %></h7>
            </div>
            <div class="form-row justify-content-left">
              <h7 class="mb-1"><u>Car make and model</u></h7>
            </div>
            <div class="form-row justify-content-left">
              <h7 class="mb-1"><%= @vehicle.make %> <%= @vehicle.model %></h7>
            </div>
            <div class="form-row justify-content-left">
              <h7 class="mb-1"><u>Body</u></h7>
            </div>
            <div class="form-row justify-content-left">
              <h7 class="mb-1"><%= @vehicle.body %></h7>
            </div>
            <div class="form-row justify-content-left">
              <h7 class="mb-1"><u>Rate per hour</u></h7>
            </div>
            <div class="form-row justify-year-left">
              <h7 class="mb-1">$<%= @vehicle.rate %></h7>
              <script> 
                var vec_rate = <%= @vehicle.rate %>;
                console.log(vec_rate);
              </script>
            </div>
          </div>
        </div>
        </br>
        <div class="form-row justify-content-center">
          <h4 class= "text-center text-danger text-capitalize font-weight-bold"><%= label_tag "Select booking period" %></h4>
        </div>
        <div class="form-row justify-content-center">
          <div id="calendar"></div>
        </div>
        <div class="form-row justify-content-center">
          <div class="form-group col-md-6">
            <u>Pickup period:</u>
            <%= f.datetime_field :pickup_time, class: 'form-control', id: 'pickup_datetime' %>
          </div>
          <div class="form-group col-md-6">
            <u>Drop off period:</u>
            <%= f.datetime_field :expected_dropoff_time, class: 'form-control', id: 'drop_datetime' %>
          </div>
        </div>
        <div class="form-row justify-content-center">
          <div class="form-group col-md-6">
            <%= label_tag "Promotional code:" %>
            <%= text_field_tag 'promo_code', @promo_code, class: "form-control", id: 'promo_code_input' %>
            <button type="button" id="promo_button">Apply Promotional code</button>
          </div>
          <div class="form-group col-md-6">
            <h6 id= "discount_label">&nbsp</h6>
            <h6 class= "text-center text-danger font-weight-bold", id= "discount_label"><%= label_tag "" %></h6>
          </div>
        </div>
        <div class="form-group col-md-6">
          <h4 class= "text-danger font-weight-bold"><%= label_tag "Total" %></h4>
        </div>
        <div class="form-group col-md-6">
           <%= f.text_field :total, class: 'form-control', readonly: true, id: 'booking_total' %>
        </div>
        <%= hidden_field_tag 'vehicle', @vehicle, value: @vehicle.id, class: "form-control" %>
        <%= hidden_field_tag 'user', @user, value: current_user.id, class: "form-control" %>
      <%= f.submit "Book Vehicle", class: "btn btn-primary btn-block" %>
      <%= link_to "Cancel", root_path, {class:"btn btn-warning btn-block"} %>
    <% end %>
</div>
