<div class="container-fluid col-md-4">
    <div class="alert alert-primary" role="alert" style="margin-top:30px;">
		<h3>Update your account</h3>
	</div>

    <%= form_for(@user, url: edit_path) do |f| %>
        <%= render 'shared/error_messages' %>
        <div class="form-row">
            <div class="form-group col-md-6">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, class: 'form-control', placeholder: "First Name" %>
            </div>
            <div class="form-group col-md-6">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
            </div>
            <div class="form-group col-md-6">
                <%= f.label :email %>
                <%= f.email_field :email, placeholder: "Email", class: "form-control"%>
            </div>
            <div class="form-group col-md-6">
                <%= f.label :contact_number %>
                <%= f.text_field :contact_number, placeholder: "Eg: 0412345678", class: "form-control" %>
            </div>
            <div class="form-group col-md-6">
                <%= f.label :driver_licence %>
                <%= f.text_field :driver_licence, placeholder: "098765432", class: "form-control" %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :address %>
            <%= f.text_field :address, placeholder: "123 Main St", class: "form-control" %>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <%= f.label :password %>
                <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
            </div>
            <div class="form-group col-md-6">
                <%= f.label :password_confirmation, "Confirmation" %>
                <%= f.password_field :password_confirmation, placeholder: "Password", class: "form-control" %>
            </div>  
            
        </div>
        <div class="form-group">
            <%= f.submit "Save changes", class: "btn btn-primary btn-block" %>
        </div>
        
    <% end %>
</div>