<%# 
    Author: Ryan Tran
    Student number: s3201690

    View of the Endusers dashboard
%>

<div class="container-fluid col-md-8">
	<% if @upcomingBooking.present? %>
	    <div class="container-fluid col-md-12">
            <div class="alert alert-primary" role="alert" style="margin-top:30px;">
        		<h2>Active Booking</h2>
        	</div>
        	<div class="list-group">
                <li class="list-group-item">
                    <% if !@upcomingBooking.vehicle.nil? && !@upcomingBooking.vehicle.location.nil? %>
                        <div class="form-row">
                            <div class="list-group-row col-md-4">
                                <div class="d-flex w-100 justify-content-md-left">
                                    <h7 class="mb-1 font-weight-bold">Pickup/Dropoff Address:</h7>
                                </div>
                            </div>
                            <div class="list-group-row col-md-8">
                                <div class="d-flex w-100 justify-content-md-left">
                                    <h7 class="mb-1 text-danger font-weight-bold"><%= @upcomingBooking.vehicle.location.address %></h7>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <div class="form-row">
                        <div class="list-group-row col-md-4">
                            <div class="d-flex w-100 justify-content-md-left">
                                <h7 class="mb-1 font-weight-bold">Pickup time:</h7>
                            </div>
                        </div>
                        <div class="list-group-row col-md-8">
                            <div class="d-flex w-100 justify-content-md-left">
                                <h7 class="mb-1 text-danger font-weight-bold"><%= @upcomingBooking.pickup_time.in_time_zone("Melbourne").strftime("%I:%M%p %d/%m/%Y") %></h7>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="list-group-row col-md-4">
                            <div class="d-flex w-100 justify-content-md-left">
                                <h7 class="mb-1 font-weight-bold">Dropoff time:</h7>
                            </div>
                        </div>
                        <div class="list-group-row col-md-8">
                            <div class="d-flex w-100 justify-content-md-left">
                                <h7 class="mb-1 text-danger font-weight-bold"><%= @upcomingBooking.expected_dropoff_time.in_time_zone("Melbourne").strftime("%I:%M%p %d/%m/%Y") %></h7>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="list-group-row col-md-4">
                            <div class="d-flex w-100 justify-content-md-left">
                                <h7 class="mb-1 font-weight-bold">Total booking cost:</h7>
                            </div>
                        </div>
                        <div class="list-group-row col-md-8">
                            <div class="d-flex w-100 justify-content-md-left">
                                <h7 class="mb-1 text-danger font-weight-bold">$<%= @upcomingBooking.total.round(2) %></h7>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <% if !@upcomingBooking.vehicle.nil? %>
                    <div class="form-row">
                        <div class="list-group-row col-md-12">
                            <div class="d-flex w-100 justify-content-md-center">
                                <% if @upcomingBooking.vehicle.image.attached? %>
                                    <%= image_tag @upcomingBooking.vehicle.image, style: 'height:100%;width:100%;' %>
                                <% else %>
                                    <% if @upcomingBooking.vehicle.body == "Ute" %>
                                        <%= image_tag "uteSil.png", alt: "Ute", style: 'height:100%;width:100%;' %>
                                    <% elsif @upcomingBooking.vehicle.body == "Sedan" %>
                                        <%= image_tag "sedanSil.png", alt: "Sedan", style: 'height:100%;width:100%;' %>
                                    <% elsif @upcomingBooking.vehicle.body == "Hatch" %>
                                        <%= image_tag "hatchSil.png", alt: "Hatch", style: 'height:100%;width:100%;' %>
                                    <% elsif @upcomingBooking.vehicle.body == "SUV" %>
                                        <%= image_tag "suvSil.png", alt: "SUV", style: 'height:100%;width:100%;' %>
                                    <% else%>
                                        <%= image_tag "sedanSil.png", alt: "Default", style: 'height:100%;width:100%;' %>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="list-group-row col-md-4">
                            <div class="d-flex w-100 justify-content-md-left">
                                <h7 class="mb-1 font-weight-bold">Vehicle Registration:</h7>
                            </div>
                        </div>
                        <div class="list-group-row col-md-8">
                            <div class="d-flex w-100 justify-content-md-left">
                                <h7 class="mb-1 text-danger font-weight-bold"><%= @upcomingBooking.vehicle.registration %></h7>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="list-group-row col-md-4">
                            <div class="d-flex w-100 justify-content-md-left">
                                <h7 class="mb-1 font-weight-bold">Booked vehicle:</h7>
                            </div>
                        </div>
                        <div class="list-group-row col-md-8">
                            <div class="d-flex w-100 justify-content-md-left">
                                <h7 class="mb-1 text-danger font-weight-bold"><%= @upcomingBooking.vehicle.make %> <%= @upcomingBooking.vehicle.model %></h7>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="list-group-row col-md-4">
                            <div class="d-flex w-100 justify-content-md-left">
                                <h7 class="mb-1 font-weight-bold">Colour:</h7>
                            </div>
                        </div>
                        <div class="list-group-row col-md-8">
                            <div class="d-flex w-100 justify-content-md-left">
                                <h7 class="mb-1 text-danger font-weight-bold"><%= @upcomingBooking.vehicle.colour %></h7>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="list-group-row col-md-4">
                            <div class="d-flex w-100 justify-content-md-left">
                                <h7 class="mb-1 font-weight-bold">Year:</h7>
                            </div>
                        </div>
                        <div class="list-group-row col-md-8">
                            <div class="d-flex w-100 justify-content-md-left">
                                <h7 class="mb-1 text-danger font-weight-bold"><%= @upcomingBooking.vehicle.year %></h7>
                            </div>
                        </div>
                    </div>
                    <% if @upcomingBooking.vehicle.status == "Pickedup" %>
                        <br/>
                        <div class="form-row">
                            <div class="list-group-row col-md-12">
                                <div class="d-flex w-100 justify-content-md-center">
                                    <h7 class="mb-1 text-primary font-weight-bold">Vehicle has been picked up.</h7>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <br/>
                    <div class="form-row">
                        <div class="list-group-row col-md-12">
                            <% if @upcomingBooking.vehicle.status != "Pickedup" %>
                                <%= button_to "Pick up vehicle", {controller: "vehicles", action: "setStatusPickup", id: @upcomingBooking}, {class:"btn btn-success btn-block", :method => :put } %>
                            <% else %> 
                                <%= button_to "Drop off vehicle", {controller: "vehicles", action: "setStatusAvailable", id: @upcomingBooking}, {class:"btn btn-warning btn-block", :method => :put } %>
                            <% end %>
                        </div>
                    </div>
                    <% end %>
                </li>
            </div>
        </div>
	<% else %>
	    <h2>Map stub</h2>
	<% end %>
</div>