<div class="container-fluid col-md-8">
    <div class="alert alert-primary" role="alert" style="margin-top:30px;">
		<h2>Edit Vehicle</h2>
	</div>
    <%= form_for(@vehicle, url: editvehicle_path) do |f| %>
        <%= hidden_field_tag(:id, value = @vehicle.id) %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= render partial: "vehicleform", locals: {f: f} %>
        <%= f.submit "Save Vehicle", class: "btn btn-primary btn-block" %>
        <%= f.submit "Delete", formaction: deletevehicle_path, class: "btn btn-danger btn-block" %>
    <% end %>
</div>