<%# 
    Author: Ryan Tran
    Student number: s3201690
    
    Partial for the Edit form.
%>


<%= form_for(@location) do |f| %>
    <%= hidden_field_tag(:id, value = @location.id) %>
    <%= render 'shared/error_messages', object: f.object %>
        <div class="form-row">
          <div class="form-group col-md-8">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control', placeholder: "Name of parking location" %>
          </div>
          <div class="form-group col-md-4">
              <%= f.label "Number of spaces" %>
              <%= f.number_field :num_park, class: "form-control" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
              <%= f.label :address %>
              <%= f.text_field :address, class: 'form-control', placeholder: "Address" %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
              <%= f.label :latitude %>
              <%= f.text_field :latitude, class: 'form-control', placeholder: "Latitude" %>
          </div>
          <div class="form-group col-md-6">
              <%= f.label :longitude %>
              <%= f.text_field :longitude, class: "form-control", placeholder: "Longitude" %>
          </div>
        </div>
    <%= f.submit "Save Location", class: "btn btn-primary btn-block" %>
    <%= f.submit "Delete", formaction: deletelocation_path, class: "btn btn-danger btn-block" %>
<% end %>