<%# 
    Author: Ryan Tran
    Student number: s3201690

    View of the edit form
%>

<div class="container-fluid col-md-8">
    <div class="alert alert-primary" role="alert" style="margin-top:30px;">
		<h2>Assign vehicles to location</h2>
	</div>
	<li class="list-group-item">
        <div class="form-row">
            <div class="list-group-row col-md-4">
                <div class="d-flex w-100 justify-content-md-left">
                    <h7 class="mb-1 text-danger font-weight-bold"><%= @location.name %></h7>
                </div>
            </div>
            <div class="list-group-row col-md-4">
                <div class="d-flex w-100 justify-content-md-left">
                    <h7 class="mb-1">No. spaces: <%= @location.num_park %></h7>
                </div>
                <div class="d-flex w-100 justify-content-md-left">
                    <h7 class="mb-1">Spaces Available: <%= @location.num_park - @location.vehicles.count %></h7>
                </div>
            </div>
            <div class="list-group-row col-md-4">
                <div class="d-flex w-100 justify-content-md-left">
                    <h7 class="mb-1">Longitude: <%= @location.longitude %></h7>
                </div>
                <div class="d-flex w-100 justify-content-md-left">
                    <h7 class="mb-1">Latitude: <%= @location.latitude %></h7>
                </div>
            </div>
        </div>
    </li>
    <div class="d-flex justify-content-center">
	    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}&key=AIzaSyC8gnvfxDpVNtV4o39R1hULlcBUHhyGpK0" %>
	</div>
	
    <%# List of Vehicles %>
    <div class="alert alert-primary" role="alert" style="margin-top:30px;">
		<h7>Vehicles located here - Select to Remove</h7>
	</div>
	<% if @vecCurrentLocation.empty? %>
        <h5>No vehicles here yet</h5>
    <% else %>
        <% @vecCurrentLocation.each do |vehicle| %>
            <%= render partial: "vehiclelist", locals: {vehicle: vehicle, locationid: @location.id, mode: "remove"} %>
        <% end %>
    <% end %>
    
    
    
	<div class="alert alert-primary" role="alert" style="margin-top:30px;">
		<h7>Vehicles Available - Select to Assign</h7>
	</div>
	<% if @vehiclesAvailable.empty? %>
        <h5>No vehicles available</h5>
    <% else %>
    	<% @vehiclesAvailable.each do |vehicle| %>
            <%= render partial: "vehiclelist", locals: {vehicle: vehicle, locationid: @location.id, mode: "add"} %>
        <% end %>
    <% end %>
</div>