<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>
<p>
  <strong>Number of parkings:</strong>
  <%= @location.num_park %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=900x600&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>
