 <header id="header" id="home">
 	<div class="container">
 		<div class="row align-items-center justify-content-between d-flex">
 			<div id="logo">
 			    <%= link_to image_tag("logo.png", alt: "logo"), root_path %>
 			</div>

      <!-- nav-menu-container controller the nav link view -->
 			<nav id="nav-menu-container">
 			    <ul class="nav-menu">
 				<% if logged_in? %>
 				    <% if administrator? %>
	 				<li><%= link_to "All customers", controller: "users", action: "index" %></li>
	 				<li><%= link_to "All bookings", controller: "bookings", action: "index" %></li>
	 				<li><%= link_to "All vehicles", controller: "vehicles", action: "index" %></li>
	 				<li><%= link_to "Add vehicle", controller: "vehicles", action: "new" %></li>
	 				<li><%= link_to "All Parking locations", controller: "locations", action: "index" %></li>
	 				<li><%= link_to "Add Parking location", controller: "locations", action: "new" %></li>
 				    <% else %>
	 				<li><%= link_to "Dashboard", controller: "users", action: "show", id: current_user %></li>
	 				<li><%= link_to "Booking History", controller: "users", action: "bookingHistory", id: current_user %></li>
	 				<li><%= link_to "Refer a friend", new_invitation_path %></li>
	 				<li><%= link_to "Personal information", edit_user_path(current_user) %></li>
          <li><%= link_to "Messages", user_messages_path(current_user) %></li>
 				    <% end %>
 			       	       <li><%= link_to "Logout", login_path, method: :delete%></li>
 				    <% else %>
 					<li><%= link_to "Sign Up", signup_path %></li>
 					<li><%= link_to "Login", login_path%></li>
 	         		<% end %>
 				</ul>
 			</nav>
 		</div>
 	</div>
 </header>

<!--Start Mobile Navigation View-->
<div class ="nav-mobile-view">
<nav class="navbar navbar-dark navbar-custom">

    <!-- Navbar brand Car Share Set Logo-->
    <a class="navbar-brand"> <%= link_to image_tag("logo.png", alt: "logo"), root_path %> </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15" aria-controls="navbarSupportedContent15"
        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent15">

        <!-- Links -->
        <ul class="navbar-nav mr-auto navbar-mod">
 	  <% if logged_in? %>
 	     <% if administrator? %>
	 	<li class="nav-item navi-link"><%= link_to "All customers", controller: "users", action: "index" %></li>
	 	<li class="nav-item navi-link"><%= link_to "All bookings", controller: "bookings", action: "index" %></li>
	 	<li class="nav-item navi-link"><%= link_to "All vehicles", controller: "vehicles", action: "index" %></li>
	 	<li class="nav-item navi-link"><%= link_to "Add vehicle", controller: "vehicles", action: "new" %></li>
	 	<li class="nav-item navi-link"><%= link_to "All Parking locations", controller: "locations", action: "index" %></li>
	 	<li class="nav-item navi-link"><%= link_to "Add Parking location", controller: "locations", action: "new" %></li>
 	     <% else %>
	 	<li class="nav-item navi-link"><%= link_to "Dashboard", controller: "users", action: "show", id: current_user %></li>
	 	<li class="nav-item navi-link"><%= link_to "Booking History", controller: "users", action: "bookingHistory", id: current_user %></li>
	 	<li class="nav-item navi-link"><%= link_to "Refer a friend", new_invitation_path %></li>
	 	<li class="nav-item navi-link"><%= link_to "Personal information", edit_user_path(current_user) %></li>
    <li class="nav-item navi-link"><%= link_to "Messages", user_messages_path(current_user) %></li>

 	     <% end %>
 	        <li class="nav-item navi-link"><%= link_to "Logout", login_path, method: :delete%></li>
 	     <% else %>
 	 	<li class="nav-item navi-link"><%= link_to "Sign Up", signup_path %></li>
 	 	<li class="nav-item navi-link"><%= link_to "Login", login_path%></li>
 	  <% end %>
        </ul>
        <!-- Links -->

    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
</div>
<!--End Mobile Navigation View-->



<!--booking review
final page is booking summary-->
