<!-- Author Meta -->
<meta name="author" content="codepixer">
<!-- Meta Description -->
<meta name="description" content="">
<!-- Meta Keyword -->
<meta name="keywords" content="">
<!-- meta character set -->
<meta charset="UTF-8">
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<!-- google windows -->
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<!-- retrieve backend database on rails using javascript-->
<%= include_gon %>


<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!-- Site Title -->
<title>Share Fleets Car Rentals</title>

<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 

<%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>  
<%= stylesheet_link_tag 'nice-select', media: 'all', 'data-turbolinks-track': 'reload' %>  
<%= stylesheet_link_tag 'owl.carousel', media: 'all', 'data-turbolinks-track': 'reload' %> 
<%= stylesheet_link_tag 'jquerysctipttop', media: 'all', 'data-turbolinks-track': 'reload' %>  
<%= stylesheet_link_tag 'linearicons', media: 'all', 'data-turbolinks-track': 'reload' %> 
